[2014-03-12 02:16] lawinslow opened #3 "Fix Documentation Keywords"
They Keywords can't be things like "GLEON", they have to be from a specific set.

https://svn.r-project.org/R/trunk/doc/KEYWORDS

We need to pick different ones. For rLakeAnalyzer I used
    manip
    arith
    math

and maybe others.

[2014-03-17 14:00] lawinslow opened #4 "Better way to create ar1 random residuals?"
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.optim.R#L134

I think this should be improved to use something like this

http://stackoverflow.com/questions/17897574/how-to-simulate-an-ar1-process-with-arima-sim-and-an-estimated-model

[2014-03-17 14:01] rBatt opened #5 "Bootstrapping – sample w/ repalcement?"
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.optim.R#L139

Check that this is write, I think that sampling should be done with replacement (line 139 of metab.optim). Also, I don't understand the ar1.resids issue. Is that a statistically valid method, or more of an offhand but practical method? Equations might help, at some point.

[2014-03-17 14:01] lawinslow opened #6 "Better way to create ar1 random residuals?"
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.optim.R#L134

I think this should be improved to use something like this

http://stackoverflow.com/questions/17897574/how-to-simulate-an-ar1-process-with-arima-sim-and-an-estimated-model

[2014-03-17 14:02] lawinslow opened #7 "Better way to create ar1 random residuals?"
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.optim.R#L134

I think this should be improved to use something like this

http://stackoverflow.com/questions/17897574/how-to-simulate-an-ar1-process-with-arima-sim-and-an-estimated-model

[2014-03-17 14:08] #6 closed, assigned to nobody

[2014-03-17 14:08] #7 closed, assigned to nobody

[2014-03-17 15:00] rBatt opened #8 "fit sigma2"
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.optim.R#L86

sigma2 should be a parameter that is fitted in optim, not estimated as the average deviation between obs and expected.

[2014-03-17 20:25] lawinslow opened #9 "Allow user to select informativeness of priors in metab.bayes"
Should allow users to select, though include reasonable defaults.

[2014-03-17 20:30] #5 closed, assigned to lawinslow

[2014-03-17 20:32] lawinslow opened #10 "Create metab.ols"
We want an ordinary least squares metabolism function for completeness.

[2014-03-17 20:33] lawinslow opened #11 "Finish first draft of metab.kalman"
Title says it all.

[2014-03-17 20:35] lawinslow opened #12 "Fix Schmidt coefficients to use modern literature"
Using:
Raymond, P. a., C. J. Zappa, D. Butman, T. L. Bott, J. Potter, P. Mulholland, a. E. Laursen, W. H. McDowell, and D. Newbold. 2012. “Scaling the Gas Transfer Velocity and Hydraulic Geometry in Streams and Small Rivers.” Limnology & Oceanography: Fluids & Environments 2 (May 24): 41–53. doi:10.1215/21573689-1597669. http://lofe.dukejournals.org/cgi/doi/10.1215/21573689-1597669.

[2014-03-17 20:37] lawinslow opened #13 "Fix oxygen solubility equations with modern lit"
New equations from:
Garcia, HE, and LI Gordon. 1992. “Oxygen Solubility in Seawater: Better Fitting Equations.” Limnology and Oceanography 37 (6). http://cat.inist.fr/?aModele=afficheN&cpsidt=4757462.

[2014-03-17 21:42] #8 closed, assigned to jzwart

[2014-03-18 13:54] lawinslow opened #15 "Fill in missing documentation"
Blank documentation for these three functions needs to be filled out.

https://github.com/GLEON/LakeMetabolizer/blob/master/man/sun.rise.set.Rd

https://github.com/GLEON/LakeMetabolizer/blob/master/man/scale.exp.wind.Rd

https://github.com/GLEON/LakeMetabolizer/blob/master/man/metab.optim.Rd

[2014-03-18 15:26] rBatt opened #16 "Optim performance"
Reading through optim, I have a few items that should be double checked, and also suggestions for arranging the code so it can be extended at a later date, if we want.

https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.optim.R#L1
--What is this function for?

https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.optim.R#L12
-- What is the intended functionality of metab.optim? I

[2014-03-18 20:21] lawinslow opened #17 "Create Timeseries wrapper for a metabolism function"
To make the metabolism functions more useful, it would be great to have a timeseries wrapper that calculated metabolism for a full timeseries instead of a single optimization.

[2014-03-18 20:25] lawinslow opened #18 "Create a full end-to-end example for one dataset"
A great starting model would be metab.bookkeep.

The code would
1. Load data
2. supply data to a model
3. retrieve and plot the output metabolism parameters.

To see how to load data out of the "inst/extdata" folder, see the timeseries function, like ts.wedderburn.number, in rLakeAnalyzer.
http://cran.r-project.org/web/packages/rLakeAnalyzer/rLakeAnalyzer.pdf

A great place to put it would be here

[2014-03-18 20:26] lawinslow opened #19 "Create documentation for getSchmidt"
https://github.com/GLEON/LakeMetabolizer/blob/master/man/getSchmidt.Rd

[2014-03-18 20:31] lawinslow opened #20 "Initial guess in metab.optim not correct."
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.optim.R#L29

Two values.

Described here
https://github.com/GLEON/LakeMetabolizer/issues/16

[2014-03-18 20:36] #9 closed, assigned to rBatt

[2014-03-18 20:37] #11 closed, assigned to rBatt

[2014-03-18 20:44] #16 closed, assigned to lawinslow

[2014-03-18 21:22] #20 closed, assigned to nobody

[2014-03-18 22:42] #4 closed, assigned to lawinslow

[2014-03-19 00:22] #19 closed, assigned to nobody

[2014-03-20 22:06] #17 closed, assigned to lawinslow

[2014-03-27 14:59] #12 closed, assigned to jordansread

[2014-03-27 15:16] lawinslow opened #21 "Two Kalman functions"
There are two different kalman functions. Their differences are undocumented. Decide on and expose only one kalman function or create documentation to address and describe the differences.

[2014-03-27 15:57] lawinslow opened #22 "MLE Output with NaNs"
Ryan,

Will this result in erroneous GPP estimates if PAR has NA values?

https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.mle.R#L14

-Luke

[2014-03-28 01:45] #21 closed, assigned to rBatt

[2014-03-31 19:29] lawinslow opened #23 "Review metab.ols"
Ryan,

Could you review metab.ols? It's your baby, so I figured you'd be the best person.

-Luke

[2014-04-03 16:53] #13 closed, assigned to jordansread

[2014-04-03 16:53] #15 closed, assigned to ajaimes07

[2014-04-03 17:15] #10 closed, assigned to lawinslow

[2014-05-18 21:23] rBatt opened #24 "meta data file"
Instead of having a meta data file, would it be viable to pass the meta data as a list? It just seems like creating that file would be more trouble than typing the values in manually (if you were only analyzing one lake). Basically I'm wondering if it's reasonable to allow users to bypass making a meta data file.

[2014-05-29 19:49] rBatt opened #25 "improve documentation for column names"
As an example: ?k.cole says the argument is wind. Need to describe what arguments k.cole() takes when passed a data.frame, as for the data.frame S3 method. Specifically, the header name. But also the format of the datetimes (I think "datetime" is the desired header, as per my interpretation of the $ index at https://github.com/GLEON/LakeMetabolizer/blob/master/R/k.cole.R#L14).

I realize things ar

[2014-05-29 20:13] rBatt opened #26 "addNAs needs check for POSIXct"
Here: https://github.com/GLEON/LakeMetabolizer/blob/master/R/addNAs.R

For this line: https://github.com/GLEON/LakeMetabolizer/blob/master/R/addNAs.R

I'll take of this later.

[2014-05-29 20:15] rBatt opened #27 "fix metab() methods (kalman2 and mle2 don't exist?)"
Here: https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.R#L18

[2014-06-07 03:41] #27 closed, assigned to rBatt

[2014-06-07 03:43] rBatt opened #28 "Why "build fail" after Bayesian fix?"
The write.model() calls in metab.bayesian were not part of any function call. So I put them inside the function. Ever since, it says the build is failing, but it works for me, on my machine. To be clear, both the package build _and_ the metab.bayesian function (after package is built) work fine for me. I get no errors.

It is difficult for me to reproduce this error, so I am confused about how to

[2014-06-11 17:25] #24 closed, assigned to lawinslow

[2014-06-11 17:25] #23 closed, assigned to rBatt

[2014-06-11 17:26] #22 closed, assigned to rBatt

[2014-06-11 17:28] rBatt opened #29 "missing documentation for metab.kalman, metab.ols"
I've started working on the metab.kalman, but it'll need updating I'm sure

[2014-06-11 17:32] rBatt opened #30 "2 Errors in metab.bayesian() example"
https://github.com/GLEON/LakeMetabolizer/blob/master/man/metab.bayesian.Rd#L59

1) k.gas needs to be divided by the number of obs per day
2) wnd[,2] needs to be scaled to wind at 10m

k.gas needs to be scaled to the size of the time step. Right now that's the K in units of m/day, needs to be m/5 minute or w/e. Just divide by the number of time steps per day.

I have some functions I've been using

[2014-06-11 20:01] #26 closed, assigned to rBatt

[2014-06-11 20:04] rBatt opened #31 "Add aliases to documentation"
for example, o2.at.sat.base is not in https://github.com/GLEON/LakeMetabolizer/blob/master/man/o2.saturation.Rd

[2014-06-11 22:35] rBatt opened #32 "Can't turn off gas exchange"
Setting k.gas = 0 when the sensor is below zmix results in an error for metab.mle and metab.kalman ... maybe others.  This is because K ends up in the denominator of some of the 1-step-ahead predictions.

A solution would be to create an alternative formulation that does not include exchange for those time steps for which K ==0

Both C code and R code need to be edited.

[2014-06-12 20:15] #32 closed, assigned to lawinslow

[2014-06-13 14:37] lawinslow opened #34 "Export Metab in Namespace and add Metab documentation"
Currently, "metab" is not exported to the user and there is no documentation.

[2014-06-13 15:38] #28 closed, assigned to nobody

[2014-06-13 19:29] jordansread opened #36 "does k.read really output m/day?"
@lawinslow @rBatt comments in-line are still cm/hr, and I didn't see a conversion happening. Apologies if it is in there somewhere.

[2014-06-14 00:07] #29 closed, assigned to nobody

[2014-06-16 17:29] #36 closed, assigned to jordansread

[2014-06-20 02:13] jordansread opened #40 "treatment of min wind differs between functions"
see https://github.com/GLEON/LakeMetabolizer/blob/master/R/calc.zeng.R#L80

vs

https://github.com/GLEON/LakeMetabolizer/blob/master/R/k.read.R#L274
https://github.com/GLEON/LakeMetabolizer/blob/master/R/k.read.R#L229

[2014-06-21 12:52] #34 closed, assigned to rBatt

[2014-06-21 17:41] #31 closed, assigned to nobody

[2014-06-21 17:54] #3 closed, assigned to nobody

[2014-06-21 17:58] lawinslow opened #45 "R CMD check issues with k.read.base"
Issue below.

[code]

[2014-06-21 17:59] lawinslow opened #46 "Check fail metab documentation"
Issue below,

[code]

[2014-06-21 18:00] lawinslow opened #47 "Check fail o2.at.sat"
Issue:

[code]

[2014-06-21 18:01] lawinslow opened #48 "Link problem in LakeMetabolizer.R"
Missing link or links in documentation object 'LakeMetabolizer.Rd':
    '[rLakeAnalyzer:rLakeAnalyzer-package]{rLakeAnalyzer}'

[2014-06-21 18:02] lawinslow opened #49 "Usage issues"
Below:

[code]

[2014-06-21 18:55] lawinslow opened #50 "Error with Metab"
Getting the below error with example data

[code]

Using this code:

[code]

[2014-06-21 19:30] #45 closed, assigned to jordansread

[2014-06-21 19:30] #46 closed, assigned to jordansread

[2014-06-21 19:30] #47 closed, assigned to jordansread

[2014-06-21 19:30] #49 closed, assigned to jordansread

[2014-06-22 13:21] #50 closed, assigned to rBatt

[2014-10-24 16:16] hdugan opened #53 "calc.lw.net.base"
When running with a datestamp that does not have hours/minutes, returns
`Error in if (n[i] >= 80 & n[i] < 172) { :
 missing value where TRUE/FALSE needed`

This error is drawn from GetSmithGamma function.
This seems like a useful function that might be more applicable if we fixed this.

[2014-10-27 15:13] jordansread opened #54 "Kd defined as air temperature deg C"

[2014-10-28 15:10] #54 closed, assigned to nobody

[2014-10-29 13:19] lawinslow opened #56 "Add more complex models of light/metabolism"
Currently, it makes a linear assumption of the relationship between light and metabolism (GPP). Others have requested further functionality.

This will probably have to go into metab.mle, as most of the other models couldn't handle it, at least quickly or easily (kalman and bayes, maybe, but it would be a lot of work, ols and bookkeeping can't be changed).

[2014-11-03 20:08] hdugan opened #57 "sun.rise.set"
Only works with latitudes < 66. Stop discriminating.

[2014-11-05 16:16] #57 closed, assigned to nobody

[2014-11-07 16:54] hdugan opened #59 "Add Garcia ref. to O2.at.sat."
Garcia is default model with no reference.

[2014-11-10 18:42] hdugan opened #60 "k.read.base returns NAN"
Returns NAN on the following inputs
`k.read.base(wnd.z=10,Kd=1.8,lat=45,lake.area=365000,atm.press=1013,'2008-08-05 10:00:00',Ts=30.17,z.aml=2,airT=31.545,wnd=1.26,RH=66.4,sw=555,lwnet=-34)`

Traced back to calc.zeng function returning NANs
`calc.zeng('2008-08-05 10:00:00',Ts=30.17,airT=31.545,Uz=1.26,RH=66.4,atm.press=1013,wnd.z=10,2,2)`

No idea why. If the parameters are changed even slightly i

[2014-11-10 22:31] #60 closed, assigned to nobody

[2014-11-10 23:08] #59 closed, assigned to nobody

[2014-11-13 21:08] jread-usgs opened #65 "metab calcs don't check for NA on z.mix"
cryptic error returned:
[code]

[2014-11-13 21:11] jordansread opened #66 "should wtr arg be defined as temp at the sensor?"

[2014-11-13 21:57] jread-usgs opened #67 "kalman loop fails (May be NA values in input)"
[code]

[2014-11-15 22:58] rBatt opened #68 "approach to setting wtr/irr/do.obs names to custom produces duplicate column names"
in `metab()`, not sure about elsewhere (I don't think anything else provides this functionality, @lawinslow ?)

E.g., if I have a column with numeric PAR values named "irr", then I want to create a column with integer 1's and 0's for `metab(... method="bookkeep")`, and I create that column in the data.frame as "irr2", then `metab()` just renames the column.

[See problematic code here](https://git

[2014-11-15 23:27] rBatt opened #70 "metab() can't be called by ddply()? confused"
I can run the following code fine when I pass each year-lake combo to `metab()` individually, but not when I try to do it all through `ddply()`. I think the error might be in [conquerList](https://github.com/GLEON/LakeMetabolizer/blob/master/R/helper.functions.R#L360):

[code]

Output:

[code]

[code]

[code]

[2014-11-15 23:34] #68 closed, assigned to rBatt

[2014-11-18 21:36] jzwart opened #71 "Add estimates of uncertainty to metab.mle and metab.kalman"
Can we create uncertainty estimates using Hessian matrix? or another way from the optimization algorithm?

A slower approach is to add a bootstrapping function.

[2014-11-18 21:53] jzwart opened #72 "option for constraining metab estimates positive"
For example, currently estimates of GPP can be negative, which biologically cannot happen. I suppose one could ignore these results without the option of constraining positive but it might be nice to have everything in the right direction.

To do so, I think we would just need to exponentiate the gpp and r parameters.

[2014-12-01 13:18] rBatt opened #73 "Should models agree more?"
@lawinslow : we've talked about this a bit.

Using the simulated data at the end of `?metab` produces the following:

![funnymetabolizer copy](https://cloud.githubusercontent.com/assets/5630847/5246123/8cc33fca-7932-11e4-981d-68bd07c1e431.png)

And here is the associated R code:

[code]

[2014-12-02 19:12] lawinslow opened #74 ""garcia" not listed in the available O2.sat models in o2.at.sat"

[2015-01-25 15:42] lawinslow opened #75 "SW to PAR conversion wrong given stated units"
From Peter:

[code]

The tables in the paper give values for direct conversions (taking into account unit conversions) under the “Relationship” column, and they fall into the range of
[code]

par = 2.61 * sw
[code]

[2015-01-26 19:43] hdugan commented on #75
Wow does that paper toss around units
`1 W/m2 = 4.57 uE/sec/m2` is equivalent to `1 MJ/m2/day = 4.57 E/m2/day`
where `1 uE = 1 micromole`
So, our function can stay the same, as long as it's clear that both PAR and SW are in W/m2
Any answers need to be multiplied by 4.57 (for clear sky) for units to be in umol/sec/m2

[2015-01-26 19:56] lawinslow commented on #75
Yeah, though for convenience, we should change it to accept umol/m^2/day or /sec (forget which) as that's the more common PAR unit. Plus, documentation doesn't say W/m^2 of course.

[2015-02-18 00:09] lawinslow commented on #75
From Greg S.:

[2015-02-18 02:04] jread-usgs commented on #75
For a sanity check, just regress SW and PAR from NTL lakes.

[2015-02-18 14:48] lawinslow commented on #75
Kalf Chapter 10 says 2.11 as the conversion. I'm going to go with that.

[2015-02-18 14:51] jread-usgs commented on #75
One last comment - you could have the conversion factor as are arg that defaults to 2.11. I think the conversion is variable in time and space, so you may want to let people have some play with it if it makes sense.

[2015-02-18 14:52] lawinslow commented on #75
Good call.

[2015-02-18 14:54] lawinslow commented on #75
Oh man, just dug into this, we just had the coefficients switched between par.to.sw and sw.to.par.

[2015-02-18 14:55] jread-usgs commented on #75
[code]

[2015-02-18 14:55] jread-usgs commented on #75
:neckbeard:

[2015-02-18 15:05] lawinslow commented on #75
Shouldn't that be

[code]

[2015-02-18 15:05] jread-usgs commented on #75
double the sorry when you can't even error right.

[2015-02-18 15:12] lawinslow commented on #75
Here's Britton and Dodd
![image](https://cloud.githubusercontent.com/assets/347600/6249660/4642fc3e-b74e-11e4-8b4e-be7238665d15.png)

@hdugan where did you get the 4.57 number from?

[2015-02-18 15:17] #75 closed

[2015-02-18 15:47] #74 closed

[2015-02-18 15:48] lawinslow commented on #65
Added NA checking to all metab.* functions.

[2015-02-18 15:48] #65 closed

[2015-02-18 15:48] hdugan commented on #75
4.57 is a unit conversion... I think.

[2015-02-18 15:48] lawinslow commented on #67
Addressed in #65

[2015-02-18 15:48] #67 closed

[2015-02-18 15:51] lawinslow commented on #75
Ah, probably doesn't take into account difference in wavelength coverage. thanks.

[2015-02-18 16:08] lawinslow commented on #48
Fixed.

[2015-02-18 16:08] #48 closed

[2015-04-02 21:46] #53 closed

[2015-04-17 01:26] jread-usgs opened #82 "figure for metab IW paper"

[2015-04-17 02:20] lawinslow commented on #82
Figure code is here
https://github.com/GLEON/LakeMetabolizer/blob/master/demo/

[2015-04-17 02:21] jread-usgs commented on #82
thx, perfect

[2015-04-21 19:28] rBatt opened #84 "need to fix formatting in metab.kalman help"
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.kalman.R

Equations don't all render correctly, and should include the ascii formats in addition to the Latex

[2015-04-21 19:32] rBatt commented on #18
Has this been completed?

[2015-04-23 12:44] jread-usgs opened #85 "Use `match.arg` for `metab` method arguments?"
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.R#L136

Seems like this kind of thing is what `match.arg` (base) is for.

[2015-04-23 22:05] rBatt commented on #85
You're probably right. I haven't used it much before – feel free to move
that in, or at some point in the distant future I'll do it ;)

Seriously tho, good point

On Thu, Apr 23, 2015 at 8:44 AM, Jordan S Read <notifications@github.com>
wrote:

[2015-04-24 01:26] jread-usgs commented on #82
Assuming this is just for: https://github.com/GLEON/LakeMetabolizer/blob/master/demo/fig_k600.R
Let me know if I am wrong

[2015-04-24 15:46] jread-usgs commented on #82
I didn't think the noisey-ness of 7 models is worth showing to make this point. I did an hourly running average to show the key differences between the models w/ different forcings.

[2015-04-24 18:01] jread-usgs commented on #82
![image](https://cloud.githubusercontent.com/assets/2349007/7325143/da162416-ea81-11e4-8cdc-3eb4af1364d8.png)

@lawinslow @rBatt comments?
please help with colors........

[2015-04-24 18:21] rBatt commented on #82
Is this on the master branch? I'm not getting the same plot

On Fri, Apr 24, 2015 at 2:01 PM, Jordan S Read <notifications@github.com>
wrote:

[2015-04-24 18:25] jread-usgs commented on #82
no, its on my pull request #87

[2015-04-24 18:26] rBatt commented on #82
Anyway, here are 7 colors:

cols <- c("#1b9e77", "#d95f02", "#7570b3", "#e7298a", "#66a61e", "#e6ab02",
"#a6761d")

I don't understand the way you did the rest of the formatting, so I
couldn't remake the figure properly (I find it better to set the png units
to "in", define the figure dimensions in the dimensions that'll appear in
the paper, then in par() set ps=8. This make it easier to conform t

[2015-04-24 18:27] rBatt commented on #82
OK i liked it so I merged, i'll pull in new, branch, make my changes and
notify

On Fri, Apr 24, 2015 at 2:25 PM, Jordan S Read <notifications@github.com>
wrote:

[2015-04-24 18:32] jread-usgs commented on #82
in the future, you can pull down and merge my fork with your local stuff by doing this
`git pull https://github.com/GLEON/LakeMetabolizer.git master`

That way you can review what I did locally and recommend changes for me before the PR comes in.

[2015-04-24 18:35] rBatt commented on #82
Are you suggesting I pull in your branch, edit on your branch but locally,
then push my changes to your branch?

On Fri, Apr 24, 2015 at 2:32 PM, Jordan S Read <notifications@github.com>
wrote:

[2015-04-24 18:37] jread-usgs commented on #82
sorry, didn't know you knew how to do that. I thought you meant you merged my PR, but you didn't.

[2015-04-24 18:38] rBatt commented on #82
I did. I didn't know how to do that ;)

On Fri, Apr 24, 2015 at 2:37 PM, Jordan S Read <notifications@github.com>
wrote:

[2015-04-24 18:39] rBatt commented on #82
I still am a little confused, but I understand that what I did was pretty
roundabout, and that I shouldn't have to merge your PR to make changes on
your branch.

When I do git pull, I don't get the other branches. I didn't try to the
full code – I was just operating w/in my text editor git functionality,
which only has default "git pull"

On Fri, Apr 24, 2015 at 2:37 PM, Ryan Batt <battrd@gmail.co

[2015-04-24 18:44] jread-usgs commented on #82
oh, the instructions I gave you were command line, assuming your current directory is your git project

[2015-04-24 18:45] jread-usgs commented on #82
@rBatt 's addition:
![image](https://cloud.githubusercontent.com/assets/2349007/7326037/fd68e754-ea87-11e4-888a-73cf0cfcf0de.png)

One key difference here is the clear color contrast between `read` and `soloviev`. The breaker-action makes those two diverge in panel b, but they are almost identical in panel a.

[2015-04-24 18:54] rBatt commented on #82
Are the colors OK? See the link I used in the commit. In general, I just go
here: http://colorbrewer2.org/ for colors, then try to make it color blind
friendly (or closest).

My current gripe is that our font sizes are too big.

If you make this figure with the following setup it would get the fonts and
proportions about right, I think:

png(..., width=5, height=3.5, units="in", res=150)
par(mfrow

[2015-04-24 18:58] jread-usgs commented on #82
What journal are you submitting to that has a fig width of 5"?

[2015-04-24 18:59] jread-usgs commented on #82
![image](https://cloud.githubusercontent.com/assets/2349007/7326323/151a8d88-ea8a-11e4-8c01-bdc6cc7eabc9.png)

[2015-04-24 19:00] jread-usgs commented on #82
you saw this, right? In the existing code:
[code]
3.37" is the default single column width.

[2015-04-24 19:01] rBatt opened #90 "error in metab.ols"
minor, but instead of having deltaDO[t] = coefficient * predictor[t-1], we have deltaDO[t] = coefficient * predictor[t]

@lawinslow @jzwart @jread-usgs

[2015-04-24 19:02] hdugan commented on #82
Hilary's pointless chiming in: Ugh, figure widths are the worst.
Geophysics: (Standard sizes are 20 picas, or 3.33 inches, for one-column
figures and 26 picas, or 4.33 inches)

On Fri, Apr 24, 2015 at 3:00 PM, Jordan S Read <notifications@github.com>
wrote:

[2015-04-24 19:06] hdugan commented on #82
Hilary's important chiming in:
Lake.area needs to be in m2, right now it's in hectares. That's why
k600_vachon is flatlined.

On Fri, Apr 24, 2015 at 3:02 PM, Hilary Dugan <hilarydugan@gmail.com> wrote:

[2015-04-24 19:08] rBatt commented on #82
@jread no, i only read the fig specs for the old version. Sounds like you
have it figured out (ha). What font size are we using?

5 inches is ~ a 1.5 column, most journals have that, but not all. That's
why I usually do a vertical stacking of my panels as opposed to horizontal,
but I wasn't going to push the point.

@ hillary – is that currently an issue on github?

On Fri, Apr 24, 2015 at 3:06 PM

[2015-04-24 20:40] jread-usgs commented on #82
I will take on the change that @hdugan suggested, but am concerned that that issue is in a bunch of examples too?

[2015-04-24 20:57] jread-usgs commented on #82
updated. I am happy with this. Can figure out font size at a later time. Should be straightforward:

![image](https://cloud.githubusercontent.com/assets/2349007/7328361/90d32830-ea9a-11e4-9e46-993dde72d487.png)

[2015-04-24 21:14] jread-usgs commented on #82
Some notes on this fig: all code is in the package demo, but note that there is a 3 hour running average applied to the *output* of the k functions (not to the input data). If we move forward with this in the ms, it should be clear in the caption. This was necessary in my mind to be able to pull out the differences in the models vs just see a lot of variance. The point is still clear - that these

[2015-04-25 00:28] rBatt opened #92 "bug in kalman smoother when k=0?"
https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.kalman.R#L295

[The commit (ryan's) that created the bug is here](https://github.com/GLEON/LakeMetabolizer/commit/a22c05eec2ac95ae480dbcbfae82ba1226de5d68#diff-04784787209a24bc5bb013217ccc0da6R163)

Resulted from trying to handle k=0. That's a bug, right??

@lawinslow

@cbuelo You said you'd had an issue with smoothing the oxygen, right?

[2015-04-25 00:37] jread-usgs commented on #18
This seems to exist in `demo`

[2015-04-25 00:40] jread-usgs opened #93 "Should dif.do be based on measurement or model DO?"
See relevant discussion over here at #streamMetabolizer https://github.com/USGS-R/streamMetabolizer/pull/25#discussion_r29093608

[2015-04-25 00:46] jread-usgs commented on #93
relevant code: https://github.com/GLEON/LakeMetabolizer/blob/master/R/metab.bookkeep.R#L102
and https://github.com/USGS-R/streamMetabolizer/blob/master/R/metab_simple.R#L69

[2015-04-25 00:54] jread-usgs commented on #82
closing this. please re-open if edits are needed.

[2015-04-25 00:54] #82 closed

[2015-04-25 01:18] rBatt commented on #93
I gave an answer on that discussion you linked originally.

We have no choice in metab.bookkeep – there are no predicted values. There
aren't any error terms.

For me, it gets kinda fuzzy and weird for metab.ols. To do the regression,
we have to calculate gas flux using just the observations, and we actually
model our response variable as the first difference of DO observations
minus an offset for

[2015-04-25 01:49] jread-usgs commented on #93
thanks, I didn't look close enough at bookkeep to see this wasn't applicable. Thanks for the link too! I have it bookmarked.

[2015-04-25 01:49] #93 closed

[2015-04-27 13:20] cbuelo commented on #92
Yeah if I remember correctly the returned "smooth" DO time series had big, random-looking jumps in it.

[2015-04-27 14:10] rBatt commented on #92
That's probably due to dividing by a small fraction in the smoother, but
I'm not sure.

These issues may be unrelated. However, I'd be interested to see if your
smoothing problem was solved once this bug fix is implemented.

On Mon, Apr 27, 2015 at 9:20 AM, Cal <notifications@github.com> wrote:

[2015-04-27 16:07] #90 closed

[2015-04-27 16:10] #85 closed

[2015-04-27 21:57] rBatt opened #95 "How to store Latex code for manuscript equations?"
I've started writing it all down so I don't have to keep clutter the google doc:

https://gist.github.com/rBatt/7ae49c0f216d430906ca

[2015-04-27 21:58] rBatt commented on #95
@jread-usgs might have an idea?

[2015-04-27 22:03] lawinslow commented on #95
@rBatt, does IW want latex equations, or are you doing this for yourself?

[2015-04-27 22:03] lawinslow commented on #95
Or documentation?

[2015-04-27 22:21] rBatt commented on #95
@lawinslow I can't write some of these equations w/o latex or some good equation editor (mathtype might work) – the equation editor in Google Docs wasn't cutting it for me, and the Google Doc math/ latex-ish plugin was too glitchy.

I've found that I can usually copy-paste latex into MathType and it'll spit out equations, e.g.

What I don't like with what I'm doing in the Google Doc is that have t

[2015-04-28 15:06] lawinslow commented on #72
I'm going to table this for now. The option to constrain estimates across the models is something we could build in. But it will require a champion to do it across the models (much like a non-linear Productivity-Irradiance relationship).

[2015-04-28 15:06] #72 closed

[2015-04-30 04:20] rBatt commented on #95
@lawinslow btw, I've been updating the gist as I go. I haven't changed anything in the past 24 hrs though.

[2015-06-14 20:30] lawinslow opened #99 "Improve error when r2jags not installed."

[2015-08-27 20:58] aappling-usgs opened #100 "Garcia-Gordon interpretaion"
The original paper by Garcia & Gordon (1992) gives coefficients for use with this Eq. 8, in which T^2 appears twice (first multiplied by A2, then by A3):

[code]

However, (1) this is an odd way to parameterize a function, and (2) interpretations I've seen treat this as a typo and omit the A3 T^2 term (http://web.uvic.ca/~rhamme/O2sol.m, https://water.usgs.gov/admin/memo/QW/qw11.03.pdf). Neither o

[2015-08-27 22:12] robohall commented on #100
Hmm,.  I see that I use the “ignore the A3 T^2 term” approach which agrees with Hamme and USGS.  That is the correct thing to do, adding the  A3 T^2,  means that the sat calc is off by 0.4 at high and low temps.  No way we are that far off and I have checked my calcs with tables.  It is a typo.

[2015-08-28 14:28] lawinslow commented on #100
Nice find. I wasn't aware of that typo. @aappling-usgs going to do a PR?

[2015-08-28 14:36] aappling-usgs commented on #100
Yes I am - coming later this morning

[2015-08-28 15:26] aappling-usgs opened #101 "DO.sat conversion from ml/L to mg/L"
DO solubility is computed by Weiss, Garcia-Gordon, etc. in milliliters per liter (ml/L), but we need this value in mg/L. Several coefficients exist in the literature for this conversion.

Staehr et al. 2012 cite Weiss 1970 for a coefficient of `1.423`.

USGS #81.11 memo (http://water.usgs.gov/admin/memo/QW/qw81.11.html) says,

A more recent USGS memo (https://water.usgs.gov/admin/memo/QW/qw11.03.p

[2015-08-28 15:31] rBatt commented on #101
Nice. We might want to include some of that information in the help pages.
Perhaps simply as a reference, note, detail. Whichever.

On Fri, Aug 28, 2015 at 11:26 AM, Alison Appling <notifications@github.com>
wrote:

[2015-08-28 15:35] aappling-usgs commented on #101
Good idea, @rBatt. I will update the roxygen2 block for o2.at.sat with the new citations and a longer description paragraph detailing the the choices made in the code.

[2015-08-28 15:54] aappling-usgs opened #102 "Pressure-based correction for O2.sat"
The literature gives a few ways to correct O2.sat for barometric pressure. In general, these follow the form:
[code]
where the form of press.cor is what varies. Staehr et al. 2010 cite USGS memos #81.11 and #81.15 (both 1981) for these two options:
[code]

while USGS memo #81.11 1981 and #81.15 1981 (http://water.usgs.gov/admin/memo/QW/qw81.11.html, http://water.usgs.gov/admin/memo/QW/qw81.15.html

[2015-08-28 16:29] aappling-usgs commented on #102
@robohall, @rBatt, @lawinslow - question for you all: Is the relevant temperature for calculating `u` the air temperature or the water temperature? If it's air temperature, when is the water temperature a sufficient proxy, and when should we use something else? If something else, what? (The `u` equation appears to be a version of the Antoine equation for vapor pressure of water - see https://en.wi

[2015-08-28 16:31] aappling-usgs opened #103 "Altitude-based correction for O2.sat"
We're discussing the pressure-based correction in Issue #102, so this issue is just about altitude.

The literature gives a few ways to correct O2.sat for barometric pressure. In general, these follow the form:
[code]
where the form of press.cor is what varies. Staehr et al. 2010 cite USGS memos #81.11 and #81.15 (both 1981) for these two options:
[code]

I cannot find the altitude-based equation

[2015-08-28 16:36] lawinslow commented on #102
My initial thought is that with all that original work, it was the temperature of the whole system of water and air. They likely didn't make a distinction. Real world is far from the lab ideal where these equations were parameterized, but if I had to guess, water temperature is far more indicative due to water's high density and thus it would dominate the temperature of the immediate air-water bou

[2015-08-28 16:53] robohall commented on #102
I think you are right; water will control air temp at the air water boundary, so water temp it is.

I agree with this formulation for pressure corrected sat:

u = 10 ^ (8.10765 - 1750.286 / (235 + t)) # t is temperature in degrees C, log appears to be log10
DO' = DO * (P'*0.750061683 - u) / (760 - u) # 0.750061683 mmHg/mb

On Aug 28, 2015, at 10:36 AM, Luke Winslow <notifications@github.com<mailto

[2015-08-28 17:23] robohall commented on #103
I have been always unclear on what the t to use in the altitude to pressure conversion.  For sure it is NOT water temperature, as surface water has nothing to do with this conversion.

bpcalc<- function(bpst, alt, temp) {
  bpst*25.4*exp((-9.80665*0.0289644*alt)/(8.31447*(273.15+temp)))
}
bpcalc(29.92,2400,15) # example using standard temperature and pressure, elevation of 2400 m

This is essentia

[2015-08-28 17:32] rBatt opened #104 "I Botched observation vs process error, yeah?"
I think I screwed up folks.

Gordon, thankfully (luckily) pointed this out in his review

Say your estimate is `S`, your observation is `Y`, and your true value is `X`.

# Simple Example
Say the true process is
  `X[t] = X[t-1] + eta[t]`

The observations are
  `Y[t] = X[t] + epsilon[t]`

To make things simple, say that for the first time step,
`S[1] = X[1] = 0`
i.e., our estimate is equal to the

[2015-08-28 17:33] rBatt commented on #104
In particular, @lawinslow @pchanson @jzwart might have thoughts or preferences

[2015-08-28 18:52] aappling-usgs commented on #103
Great - I'd like to go with a temperature of 15 degrees C. I've found a little more information to support this: see p12 of http://ntrs.nasa.gov/archive/nasa/casi.ntrs.nasa.gov/19770009539.pdf. There it says, "The quantity T[M,b] is a multi-valued constant dependent on L[M,b] and H[b]." L[M,b] is the standard temperature lapse rate that's absent from [wikipedia's Eq. 2](https://en.wikipedia.org/wi

[2015-08-28 18:53] aappling-usgs commented on #102
Thanks - I'll use water temperature in my PR.

[2015-08-28 22:55] jzwart commented on #103
Yup, go with 288.15K; more support of this in Jacobs 1999 Introduction to Atmospheric Chemistry (see equation 2.9 for the barometric equation). And I agree on the indexing of b - but I don't think any lakes or streams will be above this bottom atmospheric layer so no need to include a lookup table for any of the other atmospheric layers, so we can keep these as constants as in Bob's code. see http

[2015-08-28 23:01] jzwart commented on #103
Yup, go with 288.15K; more support of this in Jacobs 1999 Introduction to
Atmospheric Chemistry (see equation 2.9 for the barometric equation). And I
agree on the indexing of b - but I don't think any lakes or streams will be
above this bottom atmospheric layer so no need to include a lookup table
for any of the other atmospheric layers, so we can keep these as constants
as in Bob's code. see
http

[2015-08-31 13:14] lawinslow commented on #104
Yeah, *we* botched it. Any of us could have caught it.

Due to the already-existing use of the package, I'm temped to go with option 3.

[2015-08-31 13:16] pchanson commented on #104
Luke

Not sure I have the history on this. Anything important I can help with?

Paul

Sent from my U.S. Cellular® Smartphone

-------- Original message --------
From: Luke Winslow <notifications@github.com>
Date: 08/31/2015 7:14 AM (GMT-07:00)
To: GLEON/LakeMetabolizer <LakeMetabolizer@noreply.github.com>
Cc: Paul Hanson <pchanson@wisc.edu>
Subject: Re: [LakeMetabolizer] I Botched observation vs p

[2015-08-31 13:25] lawinslow commented on #104
@pchanson
History: Reviewer caught a mismatch in our code/description. We called our MLE model "pure process error", but our implementation is actually "pure observation error"

I think to address this, we just implement both OE and PE models. It's an easy way to address that review. Thoughts? I'm not aware of there being a preferred version of that model (process vs. observation error).

[2015-08-31 13:31] #100 closed

[2015-08-31 13:31] #101 closed

[2015-08-31 13:31] #102 closed

[2015-08-31 13:31] #103 closed

[2015-08-31 14:28] pchanson commented on #104
interesting and important detail that probably would not change the outcome much. I think most implementations are a hybrid, with a, e.g., daily reset to observations.

Sent from my U.S. Cellular® Smartphone

-------- Original message --------
From: Luke Winslow <notifications@github.com>
Date: 08/31/2015 7:25 AM (GMT-07:00)
To: GLEON/LakeMetabolizer <LakeMetabolizer@noreply.github.com>
Cc: Paul H

[2015-08-31 14:30] pchanson commented on #104
and... I'm unaware of any pure PE implementations in metab, though I've paid close attention

Sent from my U.S. Cellular® Smartphone

-------- Original message --------
From: Luke Winslow <notifications@github.com>
Date: 08/31/2015 7:25 AM (GMT-07:00)
To: GLEON/LakeMetabolizer <LakeMetabolizer@noreply.github.com>
Cc: Paul Hanson <pchanson@wisc.edu>
Subject: Re: [LakeMetabolizer] I Botched observat

[2015-08-31 21:38] jzwart commented on #104
Yeah this was a good catch.  I agree that option 3 is the best, and then 1 and then 2 for the reason Luke gives. May want to keep OE as default if we go with option 3? just because others have been using it this way already..

[2015-08-31 21:41] rBatt commented on #104
I agree w/ what Jake just said.

On Mon, Aug 31, 2015 at 5:38 PM, Jake Zwart <notifications@github.com>
wrote:

[2015-09-20 21:24] rBatt opened #108 "address review concerning return of chains in Bayes"
I think `attr(m.bay, "model")` does the trick when using `metab()` (object names come from `?metab`); when using `metab.bayes()`, it's not at all hidden.

However, I'll elaborate.

@lawinslow and @jzwart -- we emailed about this. Jake wanted me to take a look. Like I suspected, we do return all of the information needed.

I agree with the reviewer on both general points (that draws are needed to t

[2015-09-21 14:12] #108 closed

[2015-09-24 20:13] lawinslow opened #110 "Should the initial observation be fit for error.type="OE"?"
From Gordon:

We're currently using the first value, but I think he's right, we should be letting the initial observation freely vary as well.

Thoughts? @rBatt @jzwart @pchanson?

[2015-09-24 20:23] jzwart commented on #110
yeah, good point. It's not truly an OE model currently. Easy to fix, and we can set the optim guess to initial DO obs unless DOobs[1] is NA, then use min DOobs or next closest DOobs or something like that.

[2015-09-24 20:25] lawinslow commented on #110
We're assuming no NA values right now anyway, so I'll just pull the guess from the initial value. I'm working on this section right now anyway, will have PR in a few min.

[2015-09-24 20:31] pchanson commented on #110
Agreed.

From: Luke Winslow [mailto:notifications@github.com]
Sent: Thursday, September 24, 2015 3:14 PM
To: GLEON/LakeMetabolizer
Cc: Paul Hanson
Subject: [LakeMetabolizer] Should the initial observation be fit for error.type="OE"? (#110)

From Gordon:

I hope this isn't too late for your manuscript....but I recently realized I missed something in my review of your paper. It's with regard to the

[2015-09-24 20:51] #104 closed

[2015-09-24 20:51] #110 closed

[2015-09-24 20:51] #84 closed

[2015-09-24 21:08] rBatt commented on #110
Yeah, the first observed value is typically handled as a guess for the
first value of the time series, which can vary.

On Thu, Sep 24, 2015 at 4:51 PM, Luke Winslow <notifications@github.com>
wrote:

[2015-09-24 21:26] #99 closed

[2016-06-22 17:39] hdugan opened #117 "metab.bookkeep"
Hi all, I'm making a teaching example using Lake Metabolizer, and I keep getting weird answers with the metab.bookkeep function. Basically, NEP is too high.

The guts of the function are:

[code]
Are we sure that it shouldn't be:
`delta.do.metab <- delta.do - gas.flux[1:(length(gas.flux)-1)]`
If into the lake is positive gas flux, then metabolism between timesteps should be the difference in DO mi

[2016-06-22 18:22] jzwart commented on #117
Good catch Hilary. You're right gas flux should be subtracted from delta DO. Looks like gas flux is implemented correctly for the other models (Bayes, mle, kalman, ols), we should make note to change the metab figure for the MS once we eventually get proofs back.

[2016-06-22 18:23] pchanson commented on #117
Hilary,

Caveat - I may easily be misinterpreting the implementation that's in metab.bookkeep function, so it would be important to have multiple eyes on this.  Short answer is that I think you are correct.

dO/dt = GPP - R + Fatm;  assuming a positive flux is into the system

GPP - R = NEP

dO2/dt = NEP + Fatm

NEP = dO2/dt - Fatm

If the system is undersaturated, part of the increase of DO will

[2016-06-22 18:26] hdugan commented on #117
"When we get proofs back". Good one Jake.

Also, thank you for double checking my sanity.

[2016-06-23 18:01] lawinslow commented on #117
@hdugan v1.5.0 update will be on CRAN in time for GLEON!
https://cran.r-project.org/web/packages/LakeMetabolizer/index.html

[2016-06-23 18:04] #117 closed

[2016-06-23 18:08] rBatt commented on #117
@jzwart  Ah, just now saw this, so it looks like people have already inspected this result. Maybe ignore my comments on the commit.

[2016-06-23 18:10] jzwart commented on #117
@rBatt it's good to get more eyes on this.

[2016-06-23 18:15] rBatt commented on #117
There's at least 1 paper I saw published recently that used this BK code.

My Blue Lake paper (https://github.com/rBatt/DarkenedLake) used the Kalman
filter (I'm pretty sure).

It's really easy to figure this out once you dig into it. Like Paul said,
it's pretty clear which sign the flux should have if the lake is under- (or
super-) saturated. Once you know the sign convention we use for K (I alwa

[2016-07-21 17:51] jread-usgs opened #120 "Link to this repo on CRAN?"
https://cran.r-project.org/web/packages/LakeMetabolizer/index.html

in bug reports, link to https://github.com/GLEON/LakeMetabolizer/issues instead of `NA`?

[2017-05-22 13:18] jzwart opened #125 "Consistent Parameter Names"
Rename fitted parameters that are returned when using attr() to make consistent among models. For example, C[1] and C[2] in the bayes model vs. gppCoeff and rCoeff in the mle model.

[2017-05-22 13:20] jzwart opened #126 "Code for plotting modeled vs. observed O2"
Create code that will take fitted parameters from metabolism model and plot modeled vs. observed oxygen data for each metabolism day.

[2017-05-22 18:31] rBatt commented on #126
Good idea. I have a couple comments that might help in the long-run, but I fear will sound like a pain now. Basically, two points:
  1. the **concept** of 'predicted values' isn't entirely consistent across our models
  2. **getting** the predicted values requires different approaches for different models

# 1. Concept of Predicted Values
It is important to distinguish between models that have oxy

[2017-05-22 18:32] rBatt commented on #92
This is now related to #126

[2017-05-22 18:38] rBatt commented on #125
This could break old code (thinking primarily of LM's users, but we'd also have to look throughout the package code, like in `metab()`, to make sure any change is consistent).

I agree that this seems desirable.

Alternative might be to add a `getCoef()` function with a 'method' for each type of model (except BK). But your suggestion seems better to me --- just need to recognize that people who us

[2017-09-26 19:57] rBatt opened #127 "output format in sun.rise.set"
https://github.com/GLEON/LakeMetabolizer/blob/78991a6d3d73abe0462b625f3e2747bdd88bdb7d/R/sun.rise.set.R#L106-L110

Just noticed this today.

# Explanation of Problem

It's not a matrix (do `class()` on output). **When you do `as.POSIXct`, it converts to a vector; you might as well drop the call to `matrix()`**.

If anything, you'd want to do the `as.POSIXct` first, then convert to a matrix. Howeve

[2017-09-26 19:59] rBatt commented on #127
Note that in the documentation, the following is technically incorrect right now:

https://github.com/GLEON/LakeMetabolizer/blob/78991a6d3d73abe0462b625f3e2747bdd88bdb7d/R/sun.rise.set.R#L61

[2017-09-27 15:57] lawinslow commented on #127
Yeah, that's a good point. It is totally unclear to me why we went the matrix route instead of just a data.frame with this.

If we switch to a data.frame, should we include a `date` column for the original supplied date?

[2017-09-27 19:44] rBatt commented on #127
Perhaps --- I'm not sure of the downstream consequences of changing the
output of this function (is it used elsewhere, internally?)

On Wed, Sep 27, 2017 at 11:57 AM, Luke Winslow <notifications@github.com>
wrote:

--
Ryan D. Batt, Ph.D.
Aquatic Ecologist
Postdoctoral Fellow, National Academy of Sciences, US EPA
Website: batt.limnology.wisc.edu <http://limnology.wisc.edu/personnel/batt/>

[2017-09-27 19:47] lawinslow commented on #127
It's used somewhat internally, but not a lot so change would be easy on our side. It may be a code-breaking change for others, but at least its minor and should be an easy fix for others. We may even be able to make it somewhat backwards compatible by keeping the indexing in the same order (column 1 and 2 corresponding to the same data).

[2017-09-27 19:47] lawinslow commented on #127
Do you want to take lead on a PR or wait for this to be wrapped up in some other changeset?

[2017-09-27 19:53] rBatt commented on #127
It previously returned a vector, not a matrix, so I don't think we can even
get the 'print' to be the same

I'll have to look at what else it breaks internally. Fixing that could be
harder .... I could make changes to this relatively easily. I just need to
pop open the full project and search it for calls to this function ... if I
find none, then it's easy.

On Wed, Sep 27, 2017 at 3:47 PM, Luke W

[2017-09-27 20:02] lawinslow commented on #127
I wouldn't worry about print. What's weird though is while it printed like a vector, it was oddly addressable like a matrix.

[code]
Output looks like a vector, but it still has a `dim` attribute, so it worked as a matrix. I figure just moving it to a data frame with the same first and second column might actually go a long way without breaking too many things.

[2017-09-27 20:08] rBatt commented on #127
Hmmm, that's really weird. When I used the function class(output) didn't
say "matrix" ....

On Wed, Sep 27, 2017 at 4:02 PM, Luke Winslow <notifications@github.com>
wrote:

--
Ryan D. Batt, Ph.D.
Aquatic Ecologist
Postdoctoral Fellow, National Academy of Sciences, US EPA
Website: batt.limnology.wisc.edu <http://limnology.wisc.edu/personnel/batt/>

[2018-03-30 16:38] lawinslow opened #128 "`metab` and time-period issues with `metab.bookkeep`"
metab.bookkeep currently doesn't use both midnights, and that some might interpret that as a better representation. But to do that, we may want to change metab.bookkeep, the metab code, and update documentation to make it clear.

Extensive discussion on the issue  on PR #121

[2018-05-24 13:38] nrlottig opened #129 "k.read.base doesn't work with vector data in R v3.5.0"
I've been working on training up an undergrad to work on processing LTER metabolism data. I had her go through the workshop materials @hdugan provided at GLEON a couple of years ago. When trying to use k.read.base, she got an error about coercing to dbl. I tried the code on my mac and it ran fine with R v3.4.4. I upgraded to 3.5.0 and it kicked back the same error, downgraded and it ran fine. Down

[2018-05-24 13:42] lawinslow commented on #129
Thanks @nrlottig
Looks like its related to [this line](https://github.com/GLEON/LakeMetabolizer/blob/master/R/k.read.R#L373). We are creating a `data.frame` and then numerically treating it like a vector. Interestingly, it seems to work up until, I think, the point where we try to raise it to an exponent [here](https://github.com/GLEON/LakeMetabolizer/blob/master/R/k.read.R#L399). Probably just ne

[2018-05-24 14:37] hdugan commented on #129
Apologies for my terrible 2012 R coding

[2018-05-24 16:11] lawinslow commented on #129
@nrlottig could you please test and confirm the fix. To test, install from my fork
[code]
Please let us know if that solved the v3.5 issue!

[2018-05-24 16:29] nrlottig commented on #129
@lawinslow it runs as expected now on my mac with v3.5. Do you want us to run this version of LakeMetab as we process stuff to see if we find anything else. We can always keep one computer downgraded to 3.4 to check.

[2018-05-24 16:32] lawinslow commented on #129
Yup, go for it. If you find more bugs post them here.

[2018-06-02 18:37] nrlottig opened #130 "Time change seems to be causing issues"
I'm getting the following error running k.read.base:

Error in data.frame(dateTime = dat$dateTime, C_D = C_D, alh = alh, ash = ash) :
  arguments imply differing number of rows: 16035, 16036

I believe that I have tracked it down to calc.zeng line 20. My dataframe includes the following data

2017-03-12 02:00:00 which returns an NA for line 20 which then shortens the dataframe to 16035 rows. There

[2018-06-02 18:39] nrlottig commented on #130
I just deleted that single row from my dataset and everything ran fine.

[2018-06-05 21:12] jzwart commented on #130
Hey Noah,
I think this is a daylight savings issue. 2017-03-12 from 02:00:00 to 02:59:59 didn't 'exist' when moving from CST to CDT. `calc.zeng` uses `as.POSIXct()` with your system's timezone to ensure that it is in POSIX format, which it doesn't know what to do with 2017-03-12 02:00:00 in American/Chicago timezone since that didn't exist.

I think an improvement would be to remove `as.POSIXct()`

[2018-06-05 21:14] jzwart commented on #130
what do others think? @lawinslow @rBatt @riwoolway

[2018-06-06 00:30] rBatt commented on #130
You're probably right, Jake. Dealing with a time change probably requires
having the user do some sort of standardization on their dates ahead of
time, or implementing a localized time conversion. The second one would be
a nightmare. Should probably make sure the units fall in line with the sun
rise/ set function, which I believe uses latitude and time of year to
determine time of day for the rise

[2018-06-06 11:24] boegmanl commented on #130
Why not just put everything in GMT?  Thats what Environment Canada does for moorings to avoid daylight savings issues.

Leon Boegman
Associate Professor & Graduate Coordinator
Environmental Fluid Dynamics Laboratory
Department of Civil Engineering
Queen's University at Kingston
www.civil.queensu.ca/Research/Hydrotechnical/Leon-Boegman/<http://www.civil.queensu.ca/Research/Hydrotechnical/Leon-Boegm

[2018-06-06 17:27] jzwart commented on #130
If the user wants to put everything into GMT then that is an option for avoiding daylight savings issues, but I don't think the functions should have a timezone set to GMT. I think the user should get out the time zone that they put into the function.

[2018-06-18 15:30] rBatt commented on #130
The trick is getting things from some unknown or arbitrary time zone *into* something like GMT. Once in GMT, everything is easy, and I agree it's a simpler standard to work with. But I also agree that maybe we don't want to take on the task of converting everything to GMT ourselves.

*Quick Aside:* I worry about what time zone our [`sun.rise.set`](https://github.com/GLEON/LakeMetabolizer/blob/mast

[2018-08-28 18:36] Frenzee opened #131 "Problem running k.read etc in LakeMetabolizer"
Hi!

I have been trying to use the LakeMetabolizer package. k.cole works fine but when I try  the other 'k' methods I get the following error:

Error in k.read.base(wnd.z, Kd, lat, lake.area, atm.press, data$datetime,  :
  (list) object cannot be coerced to type 'double

This happens with my own data and also the example script in ?k.read etc. Do you have an idea of whats going awry? I have been t

[2018-08-28 21:47] lawinslow commented on #131
Hi @Frenzee,

Could you provide the code and data you are using?

Based on the error you posted, it looks to be the data type you are supplying. All the variables should be vectors. But it is easier to diagnose with the data/code throwing the error.

-Luke

[2018-08-28 21:49] lawinslow commented on #131
Also note, `k.read.base` and `k.read` are two different functions. Have you perhaps swapped the two?

[2018-08-28 22:16] rBatt commented on #131
Also, use `dput(data_name)` to convert your example data into text that we
can turn into an R object easily.

On Tue, Aug 28, 2018 at 5:49 PM Luke Winslow <notifications@github.com>
wrote:

--
Ryan D. Batt, Ph.D.
Aquatic Ecologist
Postdoctoral Fellow, National Academy of Sciences, US EPA
Website: batt.limnology.wisc.edu
Pronouns: he/ him

[2018-08-29 13:41] lawinslow commented on #131
Hmm, weird. I can't re-create an issue with that code. What version of R and the package are you using? Could you run `sessionInfo()` and past the output here? Mine looks like this.
[code]

[2018-08-29 15:55] Frenzee commented on #131
It is very weird. I am using 3.5.1.

R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C                           LC_TIME=English_United States.1252

[2018-08-29 17:09] rBatt commented on #131
Does the problem persist if you clear your namespace (restart R) and just
run the example? You have a lot more packages loaded than Luke. If we
forgot to load a namespace somewhere another package may have overwritten a
function, possibly because functions from different packages have same
name.

But that’s unlikely. Probably an R version thing.

On Wed, Aug 29, 2018 at 12:00 PM Michael Kehoe <not

[2018-08-29 17:18] Frenzee commented on #131
I tried restarting R and only loaded the metabolizer package. I will have a go at finding the bug, I've been meaning to learn those tools for R so it will be good for me.

[2018-08-29 17:46] nrlottig commented on #131
I think this might be related to the issue 129 that I opened. I believe you pushed a fix to GitHub for R v3.5

Noah

*********************************************************************
Noah R. Lottig, Ph.D.
Assistant Scientist
University of Wisconsin-Madison
Center of Limnology Trout Lake Station

ph: 715.356.9494
email: nrlottig@wisc.edu<mailto:nrlottig@wisc.edu>
web: www.noahlottig.com<http://

[2018-08-30 19:14] lawinslow commented on #131
Ah yeah, good point @nrlottig. I just pulled the fix into the main GLEON repo. @Frenzee could you run `devtools::install_github('GLEON/LakeMetabolizer')` and see if the v1.5.2 fixes your issue?

[2018-08-30 19:38] Frenzee commented on #131
Tried and failed. No Rtools for my version of R. I am just going to use an earlier version of R

[2018-08-30 19:46] lawinslow commented on #131
Weird. The latest from [here](https://cran.r-project.org/bin/windows/Rtools/) doesn't work? I didn't have any problems building for v3.5.

[2018-08-30 19:59] Frenzee commented on #131
Yeah no dice. I might be doing something stupid but it keeps saying not available for 3.5.1. I am back on an earlier version of R and its working so I guess this is closed.

[2018-08-30 20:00] lawinslow commented on #131
I'll push an update to CRAN for future v3.5 users.

[2018-08-30 20:00] #131 closed

[2019-10-07 23:27] blm8 opened #132 "datetime not found in metab.mle.R"
I am getting the following error message after running the metab.mle.R function:
warning("datetime not found, inferring sampling frequency from # of observations")
--
I have ensured that my date time vector is read with the POSIXct format.  Thoughts?

[2019-10-08 12:15] jzwart commented on #132
Hi @blm8 ,
Are you using the `metab()` or `metab.mle` function and what is the column name of your date time vector? Is it `datetime`, `dateTime`, etc...?

[2019-10-08 16:36] blm8 commented on #132
Hi Jake,

This is Ben Miller, I was actually at the Cary Institute with you a few years ago.

I am using metab.mle(), and I have tried both 'date time' and 'dateTime.' Which should I be using?

Thanks so much for your help.

[2019-10-08 17:10] jzwart commented on #132
Hi Ben! I hope you're doing well.
Try using `datetime` with no spaces between `date` and `time`.

The `metab()` function (rather than `metab.mle()`) has a little bit more flexibility with recognizing the datetime column supplied - see code [here](https://github.com/GLEON/LakeMetabolizer/blob/4ef56d9937297f0f659ec2a5dee8dbfe1d1d9783/R/addNAs.R#L8). I'd recommend using the `metab()` function as a wr

[2020-02-18 12:20] Mkkl-bio commented on #129
I find the same issue when running the k600 demo included in the package.
![image](https://user-images.githubusercontent.com/61190746/74735619-f765fa80-5248-11ea-971c-df5a07c4e609.png)

[2020-02-19 14:55] hdugan commented on #129
Luke's update works, just needs to be pulled into the parent repo.
Also, need the same kinematic viscosity fix for:
`k.read.soloviev.R`
`k.macIntyre.R`

[2020-04-16 19:34] fscordo opened #133 "PAR data"
I am trying to work on the LakeMetabolyzer model. I have a question as regards the high-frequency data for PAR. We have a light sensor ( https://www.weatherhawk.com/product/signature-series-solar-radiation-sensor/ ) in a meteorological station in the lake. However, the wavelength the sensor measures a wavelength range from 300 to 1000 nm. So besides PAR, it is getting a portion of UV and a portion

[2020-04-16 20:20] jzwart commented on #133
Hi @fscordo,
The model will fit with whatever irradiance you supply the model, whether that is PAR, shortwave radiation, etc... and in whatever units you supply the data (e.g. umol m-2 sec-1, W m-2). The most important thing is to keep the units and type of data (PAR, shortwave, etc...) the same across you daily model fits so that you can compare parameter fits across days. So you can fit your mod

[2020-04-21 22:45] fscordo opened #134 "K600.read and k600.heiskanen"
Hi guys,

When running the code to calculate the metabolism of the lake base on the function K600.read, the model returns a lot of NaN values for the K600.read function. I am pretty sure the dates with NaN values for the K600.read are related to 0 m/s of wind in the lake. Afterward, when running either of the metabolism models, all of them returns me results for 5 dates when I know there should be

[2020-04-21 23:12] fscordo commented on #134
Another possibility can be that the k600.read is not working good in a shallow area (3meters max depth)

[2020-04-22 10:48] jread-usgs commented on #134
It is a little challenging to diagnose your issue with this information. `cole` is a k model that has simpler data requirements vs `read`, `macIntyre`, `k.read.soloviev` and others that have additional input data needs. Your issue could be related to the values in the input data, could be a bug in the function, or something else.

Since it creates NaNs for most of the timesteps, can you isolate th

[2020-04-22 15:15] fscordo commented on #134
Hi Jordan Thanks for your answer, here is my example
wnd.z <- 10
Kd <- 0.24
lat <- 41.22
lake.area <- 20000
atm.press <- 840
dateTime <- as.POSIXct("2018-07-15 00:00")
Ts <- 22.997
z.aml <- 3
airT <- 20.1
wnd <- 0.91
RH <- 7
sw <- 0
lwnet <- -191
timeStep <- 30

k.read.base(wnd.z, Kd, lat, lake.area, atm.press, dateTime, Ts, z.aml, airT, wnd, RH, sw, lwnet)

As you will see the function returns Na

[2020-04-22 15:25] hdugan commented on #134
It's throwing an NA here because of the timestamp. When it's 00:00, it crops the time.

If you try the following it works. This should probably be fixed.
`dateTime = format(as.POSIXct("2018-07-15 00:00"), "%Y-%m-%d %H:%M")`

[2020-04-22 15:30] jread-usgs commented on #134
good catch @hdugan - that does seem like something that the function should be able to handle.

[2020-04-22 19:04] fscordo commented on #134
Hi guys, sorry,
A couple of explanations
My original time step includes seconds too. it looks like this:
DateTime <- as.POSIXct("2018-07-15 00:00:00")
Anyways it keeps giving me NaN. But when I include **Hilary's line** ( dateTime = format(as.POSIXct("2018-07-15 00:00"), "%Y-%m-%d %H:%M") **it solves the issue**.

Now can you help me to apply Hilary's line to the data frame, I have been trying the

[2020-04-23 14:31] jzwart commented on #134
As long as your dataframe includes non-midnight datetime stamps, I _think_ you should be able to just apply `as.POSIXct(ts.data2$datetime)` as the function will recognize non-midnight values and retain hours / mins / secs for all datetime stamps.
[code]
It's also hard to tell what your `datetime` values look like after you convert. Could you print what those look like?

[2020-04-27 20:07] camilleminaudo commented on #129
Hi,
I encountered the same issue with `k.read()`, `k.read.soloviev()` and `k.macIntyre()`, even when working with the data provided as an example for the package pulled as follows.
`data.path = system.file('extdata', package="LakeMetabolizer")`
`tb.data = load.all.data('sparkling', data.path)`
`ts.data = tb.data$data `

It only worked if I compute inside a loop on the temporal dimension, timestep

[2020-04-27 20:19] jzwart commented on #129
Hi @camilleminaudo ,
We added some fixes to the code [here ](https://github.com/GLEON/LakeMetabolizer/pull/135) that should clear up these issues. It's merged into the `master` branch of `GLEON/LakeMetablizer` so you should be able to install the fixes with:
`devtools::install_github('GLEON/LakeMetabolizer')`

We'll get up the newest version on CRAN soon.

Let us know if there are any existing iss

[2020-04-28 08:59] camilleminaudo commented on #129
These fixes solved all my issues, thanks!

[2020-06-12 13:17] joelwharrison opened #137 "GPP miscalculation in metab.bookkeep()"
GPP is calculated as NEP during the photoperiod minus R for a 24-hour period.  It should be calculated as NEP - R, or as NEP during the photoperiod minus R during the photoperiod.  Example below:

freq <- 24

hr <- 0:23
photoperiod <- c(FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE)
r <- rep(-1, 24)
gpp <- c(0,0,0,0,

[2020-06-17 20:10] jzwart commented on #137
Hi @joelwharrison, sorry for the slow reply.
I agree with your statement

I _think_ you might be using an old version of LakeMetabolizer as the code you reference at the bottom of your comment
```GPP <- mean(nep.day, na.rm = TRUE) * sum(dayI) - R```
was addressed in a pull request [here](https://github.com/GLEON/LakeMetabolizer/pull/121/files).

You check what version of LakeMetabolizer you're usi

[2020-06-18 14:20] joelwharrison commented on #137
Thank you.  I am using v.1.5.0 which appears to be the most recent on CRAN.  I'll seek out v.1.5.3.

[2020-06-18 14:20] #137 closed

[2020-09-07 22:21] clnsmth opened #138 "sun.rise.set() accuracy and time zone handling"
The accuracy of `LakeMetabolizer::sun.rise.set()` is relatively low with respect to `suncalc::getSunlightTimes()` (demonstrated below). Additionally, `sun.rise.set()` does not return values in the input tzone whereas `getSunlightTimes()` does. Do these discrepancies warrant changes to `sun.rise.set()`?

One solution is to nest `sun.rise.set()` in a clause controlled by a new `method` argument, whi

[2020-09-07 22:23] clnsmth commented on #127
Hello @jzwart et al. I'm submitting a pull request to fix this issue.

This fix changes the return from a `matrix` to a `data.frame` with ‘sunrise’ and ‘sunset’ columns while maintaining the index order and class of returned rise/set values. A search of the code base reveals this function is used by is.day() and add.night(), both of which index values according to order, therefore backwards compat

[2020-09-29 18:46] jzwart commented on #138
Thanks @clnsmth , that seems like a good solution, and I'm pretty sure the current `sun.rise.set()` functions were handed down functions for earlier metabolism models. Having backwards capabilities will be important as changing the sunrise / sunset times will likely influence metab estimates. Where did you get the NOAA data?

[2020-09-29 23:05] rBatt commented on #138
Are current SR SS estimates within an hour of truth for a given location?

On Tue, Sep 29, 2020 at 2:46 PM Jake Zwart <notifications@github.com> wrote:

--
Ryan D. Batt, Ph.D.
Aquatic Ecologist turned Data Scientist/ Engineer
Pronouns: he/ him

[2020-09-29 23:48] jread-usgs commented on #138
Hi @rBatt ! 👋

[2020-10-05 00:14] clnsmth commented on #138
https://www.esrl.noaa.gov/gmd/grad/solcalc/

[2020-10-09 16:33] jzwart commented on #127
closing with #139

[2020-10-09 16:33] #127 closed

[2021-03-03 01:41] RFlazcano opened #140 "wtr.heat.map error in plot"
I have just started going through a tutorial on the package (which I have attached) and I have followed all the steps described but I am getting the following error with my heat map.  Is there details missing in this step-by-step tutorial that is resulting in the error message?
[buoyData.pdf](https://github.com/GLEON/LakeMetabolizer/files/6072980/buoyData.pdf)

Error in plot.window(xlim, ylim, "",

[2021-03-03 02:03] hdugan commented on #140
The tutorial was made in 2016, and since then there have been some `tidyverse` package updates that cause errors in old code. Specifically the `wtr.heat.map` function doesn't let you input a tibble.

Try instead
`wtr.heat.map(as.data.frame(buoyHourlyWide))`

[2021-03-03 02:08] RFlazcano commented on #140
Ok, got it! Thank you!

[2021-03-03 02:08] #140 closed

[2021-03-03 21:26] RFlazcano opened #141 "Create metaData/EML file"
I am working on trying to create an EML file using the EML package but I am receiving an error when I run the example code:
Has anyone found a way around this issue?

library(EML)
library(markdown)
title <- "Sparkling Lake, Wisconsin, daily metabolism calculations 2014"
pubDate <- "2016"
abstract <- as(set_TextType("SparklingAbstract_NEP.docx"), "abstract")

#error: pandoc.exe: SparklingAbstract_N

[2021-03-03 22:31] clnsmth commented on #141
@RFlazcano what is your `sessionInfo()`?

[2021-03-04 02:08] RFlazcano commented on #141
This is my sessionInfo():

R version 4.0.2 (2020-06-22)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18363)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics

[2021-03-04 05:16] clnsmth commented on #141
Thanks @RFlazcano. Looks like there are two issues here:
1. `set_TextType()` can't find "SparklingAbstract_NEP.docx". Try running the function with a full path to the file.
2. The `as()` constructor doesn't work with EML versions > 2.0.0. Try `abstract <- set_TextType(file)`. See the ["Creating EML" vignette](https://docs.ropensci.org/EML/articles/creating-EML.html) for a crash course in the new m

[2021-03-04 13:48] RFlazcano commented on #141
Thank you! yes, it's from 2016, my  PI got it from a colleague that went to a GLEON workshop.
[createMetadata.pdf](https://github.com/GLEON/LakeMetabolizer/files/6084028/createMetadata.pdf)

[2021-03-04 16:38] clnsmth commented on #141
@RFlazcano Ah yes ... that's the same document my supervisor (cgries) shared with me as an introduction to creating EML with R. If this document is publicly posted somewhere I recommend sending a request to deprecate it since the methods no longer work. It could be updated, but the vignette I posted above is probably enough.

For what purposes are you creating EML via R? If it's a time series data

[2021-03-04 17:54] RFlazcano commented on #141
I have just been going through those tutorials to later apply the methods to data we will be collecting later on this year. It will be time-series data for gas flux in a lake.

Thank you, this is really helpful as I learn my way around the package.

[2021-04-21 16:02] RFlazcano commented on #129
Hi,
I am having a similar issue where I run: k600_read = k.read(ts.data, wnd.z=wnd.z, Kd=kd, atm.press=atm.press,
									 lat=lat, lake.area=lake.area)
and get the error: Error in k.read.base(wnd.z, Kd, lat, lake.area, atm.press, data$datetime,  :
  'list' object cannot be coerced to type 'double'
I also tried to fix the issue by using devtools::install_github('GLEON/LakeMetabolizer') as is sugg

[2021-04-21 21:20] RFlazcano opened #142 "Error with k.read"
Hi,
I am having an problem when I run: ```
k600_read = k.read(ts.data, wnd.z=wnd.z, Kd=kd, atm.press=atm.press,
									 lat=lat, lake.area=lake.area)
[code]

[2021-04-21 21:22] #141 closed

[2021-04-22 11:52] hdugan commented on #142
Yes, this error has been fixed in the functions that are currently available on GitHub.

The error you're getting trying to install from GitHub seems like a Windows error, and you might want to try searching for ways to solve the installation problem (maybe it's fixed with a newer R version?). There seem to be ways to turn off errors... Alternatively, you could download the .zip file and install l

[2021-10-09 04:58] RFlazcano opened #143 "Error calculating lwnet"
I am trying to calculate lwnet but keep encountering this error:
Error in SatVapor/1000 : non-numeric argument to binary operator

I have been going off the demo so I've defined all the arguments in the calculation as well input my data frame as a complete time-series with all my variables as numeric except for the datetime.

[2021-10-10 17:25] hdugan commented on #143
This is hard to troubleshoot. Are the demo examples working for you?

Can you give an example of your data and error? Something like:

[code]

<sup>Created on 2021-10-10 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-10-11 14:27] hdugan commented on #143
I think part of the problem might just be switching between the column header of `wtr` and `wtr_1`. Also, make sure that you have the latest LakeMetabolizer version installed from GitHub (it has a few updates which might be part of your problem).

Anyway, this worked for me, so hopefully it works for you:

[code]

[2021-10-11 15:22] RFlazcano commented on #143
Yes, Thank you! This works now

[2021-10-11 15:22] #143 closed, assigned to nobody

[2021-10-14 15:31] RFlazcano opened #144 "Model Fits"
Is there a way when running the models to also get the model fits as output? Some of the days in my dataset are generating 'impossible' GPP and CR values, trying to see if this could be due to poor fits on those days.

[2021-11-19 20:31] jzwart commented on #144
Hi @RFlazcano what fit metab fit method are you using?

[2021-11-19 20:34] RFlazcano commented on #144
Hi, I have been using the bayesian method.

[2021-11-19 21:06] jzwart commented on #144
You can access other attributes from the model fits with
[code]
for bayesian method, you can access the jags model with `model`, fitted parameters with `params`, or the standard deviation of the estimated metabolism with `metab.sd` - see list [here](https://github.com/GLEON/LakeMetabolizer/blob/5e427815cd54942fa8d8cf0b199f805ecc2c2ace/R/metab.bayesian.R#L176-L179). For example, if you want to acce

[2021-11-19 21:10] RFlazcano commented on #144
Thank you!

[2021-12-01 17:47] #144 closed

[2021-12-01 17:51] RFlazcano opened #145 "Wind speed units"
I am using the Vachon estimate for gas exchange and I am unsure if my units for wind speed are correct. I am not scaling to U10 because my wind speed data was measured at 10 m. I see that when using wind.scale to scale wind speed that it is unit agnostic but if I am not sclaing to 10 m with wind.scale because my wind speed is already at 10 m is there an issue with my wind speed being in km/hr?

[2021-12-02 16:11] jzwart commented on #145
Yes, your wind speed should in units of `m/s` before input to any of the gas exchange functions as they assume the units are `m/s`. If you input in `km/hr` you will get a gas exchange estimate that is biased high, e.g.:
[code]

[2021-12-02 16:15] RFlazcano commented on #145
Thank you!

[2021-12-02 16:15] #145 closed

[2022-01-21 00:48] RFlazcano opened #146 "Bayesian DIC"
In the bayesian model is there way to extract the DIC for each day and have it be returned in the same way the metabolism estimates or parameters are returned?  In model attributes I can see the DIC for each day but just wondering if there's a way to get DIC for each day all at once rather than having to each days attributes to see the DIC.

[2022-01-21 16:13] jzwart commented on #146
Yeah, it's a little convoluted though. If your Bayesian model output is an object called `bayes.res`, for example, you can see all the model details with
[code]
If you just want the DIC values returned for each day, you could run the following:
[code]

[2022-01-25 22:16] RFlazcano commented on #146
Got it, Thank you!

Would it be acceptable to compare DIC values across days to make a relative assessment on the level of certainty at which the model is predicting the metabolism parameters for that day?

[2022-01-31 16:21] jzwart commented on #146
DIC would be appropriate for comparing different model types to each other that were fit with the same data. But the different days are fit separately so I don't think it'd be appropriate to compare across days. sd of the parameters and metab estiamtes, `Rhat` values, and `R2jags::traceplot()` would give you a better idea of how certain the parameters are for given day and across days.

[2022-10-26 15:59] jordansread opened #147 "Yikes, removed from CRAN?"
https://cran.r-project.org/web/packages/LakeMetabolizer/index.html

Not sure who is getting the contact emails for the package but we'll want to sort out how this gets handled.

[2022-10-26 16:06] aappling-usgs commented on #147
I also just heard about this and came to github to report it - glad at least one GLEON team member is already aware.

[2022-10-26 16:35] lawinslow commented on #147
Gonna be this guy right here
https://github.com/GLEON/LakeMetabolizer/blob/master/DESCRIPTION#L3

[2022-10-26 16:40] lawinslow commented on #147
In case you're not sure how to get in contact with the maintainer he seems to work at the You-ess-geee-ess.
https://www.usgs.gov/staff-profiles/jacob-zwart

/s

[2022-10-26 17:07] jordansread commented on #147
Sounds like we're getting the band back together 😆

[2022-10-26 17:37] jzwart commented on #147
oh no! I'll work to get it back up.

Does anyone know if there is an alert you can get when it's taken off CRAN?

[2022-10-26 18:27] lawinslow commented on #147
Check your spam folder, you should have been receiving emails notifying you of package issues and potential removal.

[2022-10-30 14:12] rBatt commented on #147
Did I hear the band is getting back together?? Woot!

On Wed, Oct 26, 2022 at 2:27 PM Luke Winslow ***@***.***>
wrote:

--
Ryan D. Batt, Ph.D.
Aquatic Ecologist turned Data Scientist/ Engineer
Pronouns: he/ him

[2022-11-16 12:09] jzwart commented on #147
Back on CRAN https://cran.r-project.org/web/packages/LakeMetabolizer/index.html

[2022-11-16 12:09] #147 closed

[2022-11-16 12:11] #146 closed

[2022-11-16 12:12] jzwart commented on #134
closing due to inactivity

[2022-11-16 12:12] #134 closed

[2022-11-16 12:12] #133 closed

[2022-11-16 12:13] jzwart commented on #132
closing due to inactivity

[2022-11-16 12:13] #132 closed